#!/usr/bin/env ruby

prefix_path = ''
# prefix_path = ''

compile '/**/*.html' do
  filter :erb, locals: { prefix_path: }
  filter :relativize_paths, :type => :html
  layout '/default.*', locals: { prefix_path: }

  if item.identifier =~ '**/index.*'
    write prefix_path + item.identifier.to_s
  else
    write prefix_path + item.identifier.without_ext + '/index.html'
  end
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
compile '/**/*.md' do
  filter :kramdown
  layout '/default.*', locals: { prefix_path: }

  if item.identifier =~ '**/index.*'
    write prefix_path + item.identifier.without_ext + '.html'
  else
    write prefix_path + item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write prefix_path + item.identifier.to_s
end

layout '/**/*', :erb
