<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="<%= prefix_path + '/ind.study/' %>" />
    <baseNOT href="/" />
    <title>A Digital Collection of MWP - <%= @item[:title] %></title>
    <link rel="stylesheet" href="stylesheet.css">

  </head>
  <body>
    <div id="main">
      <%= yield %>
      <% if @item[:author] %>
  <p>This page was written by <%= @item[:author] %>.</p>
  <p>Tags: <%= tags_for(@item) %></p>
<% end %>
    </div>
    <div id="sidebar">
      <h2>Navigate</h2>
      <ul>
        <li><%= link_to 'Home', prefix_path %> </li>
        <li><%= link_to 'About', prefix_path + 'about/' %> </li>
        <li><%= link_to 'Poets', prefix_path + 'poetsalternative/' %> </li>
        <li><%= link_to 'Themes', prefix_path + 'themes/' %></li>
        <!-- <li><a href="https://nanoc.ws/doc/tutorial/">Tutorial</a></li>         -->
      </ul>
    </div>
  </body>
</html>
